# Comparison Operators

In [1]:
10>3

True

In [2]:
10>=3

True

In [3]:
10==10

True

In [4]:
10=="10" #both are different data types

False

In [5]:
"bag">= "apple" #each alphabet has its own numeric value

True

In [6]:
"bag"=="BAG" #small letters has different value than capital

False

In [7]:
ord ("b") #ord tell us the numeric value of a letter

98

In [8]:
ord ("B")

66

# Conditional Statements

In [10]:
temperature = 15
if temperature > 20:
    print("It's good")
elif temperature >30:
    print("It's hot")
else:
    print("It's cold")

It's cold

In [11]:
age=22
if age>=18:
    print ("Eligible")
else:
    print ("Ineligible")

Eligible

In [12]:
age=22
if age>=18:
    message = "Eligible"
else:
    message = "Ineigible"
print (message)

Eligible

In [13]:
age=22
message = "Eligible" if age>=18 else "Ineligible"
print (message)

Eligible

# Logical Operators are "and, or, not"

In [14]:
high_income = True
good_credit = True

if high_income and good_credit:
    print ("Eligible")
else:
    print("Ineligible")

Eligible

In [18]:
high_income = True
good_credit = True

if high_income or good_credit:
    print ("Eligible")
else:
    print("Ineligible")

Eligible

In [19]:
high_income = True
good_credit = True
student = True
if (high_income or good_credit) and not student:
    print ("Eligible")
else:
    print("Ineligible")

Ineligible

# NOTE: In python logical operators are short circuit

In [23]:
#age should between 18 and 65
age = 22
if 18<= age <66: #chaining comparison operators
    print ("Eligible")

Eligible

# For Loops

In [24]:
print ("attempt")
print ("attempt")
print ("attempt")

attempt
attempt
attempt

In [25]:
for number in range(3): #3 is not included and always starts from 0
    print ("attempt")

attempt
attempt
attempt

In [26]:
for number in range(3):
    print ("attempt", number)

attempt 0
attempt 1
attempt 2

In [27]:
for number in range(3):
    print ("attempt", number + 1)

attempt 1
attempt 2
attempt 3

In [28]:
for number in range(3):
    print ("attempt", number + 1, (number + 1)* "." )

attempt 1 .
attempt 2 ..
attempt 3 ...

In [31]:
for number in range(1,4): #last number is never included
    print ("attempt", number , (number)* "." )

attempt 1 .
attempt 2 ..
attempt 3 ...

In [32]:
for number in range(1,10, 2): #last number makes a gap of 2 b/w the given range
    print ("attempt", number , (number)* "." )

attempt 1 .
attempt 3 ...
attempt 5 .....
attempt 7 .......
attempt 9 .........

# For Else

In [38]:
successful = True
for number in range(3):
    print ('attempt',number + 1 )
    if successful:
        print("successful")
        break #it stops the program if reached till here
else:
    print ("attempted 3 times and failed")

attempt 1
successful

In [39]:
successful = False
for number in range(3):
    print ('attempt', number + 1)
    if successful:
        print("successful")
        break #it stops the program if reached till here
else:
    print ("attempted 3 times and failed")

attempt 1
attempt 2
attempt 3
attempted 3 times and failed

# Nested Loops

In [40]:
for x in range (5):
    for  y in range (3):
        print (f"({x},{y})")

(0,0)
(0,1)
(0,2)
(1,0)
(1,1)
(1,2)
(2,0)
(2,1)
(2,2)
(3,0)
(3,1)
(3,2)
(4,0)
(4,1)
(4,2)

# range() is iterable, which means we can iterate over it (use it in a for loop)

NOTE: for x in range(5) , x has different value in each loop

In [1]:
for x in "Python": #string is also iterable, as x has a different value in each  iteration
    print(x)

P
y
t
h
o
n

In [50]:
type (5)

int

In [54]:
type (range(5)) #range is an object, it;s a complex data type

range

# while loop

In [55]:
number=100
while number>0:
    print(number)
    number//=2 #number = number // 2

100
50
25
12
6
3
1

In [58]:
command = " "
while command!= "quit":
    command = input(">")
    print ("ECHO" , command)

>hi
ECHO hi
>heloo
ECHO heloo
>QUIt
ECHO QUIt
>Quit
ECHO Quit
>quit
ECHO quit

In [61]:
command = " "
while command.lower() != "quit":
    command = input(">") #> is just a label
    print ("ECHO" , command)

>Quit
ECHO Quit

# infinte loop is a loop that runs forever
NOTE: if you want to jump out of infinte loop you have to use break command

In [3]:
while True:
    command = input()
    print("ECHO", command)
    if command.lower() == "quit":
     break

hi
ECHO hi
heloo
ECHO heloo
you
ECHO you
QUIT
ECHO QUIT

# Excercise

In [23]:
for number in range (1,10):
    if number % 2 == 0:
        print(number)
print("We have four even numbers")

2
4
6
8
We have four even numbers

In [25]:
count = 0
for number in range (1,10):
    if number % 2 == 0:
        count += 1
        print(number)
print(f"We have {count} even numbers")

2
4
6
8
We have 4 even numbers